.sidenav-container {
    height: 100%;
  }
  
  .sidenav {
    background-color: #2E7D32; /* Color de fondo del sidebar */
  }
  
  .mat-nav-list a {
    color: white; /* Color del texto de las opciones de navegación */
  }
  
  .mat-nav-list a:hover {
    background-color: #1B5E20; /* Color de fondo al pasar el mouse por encima */
  }
  
  .active {
    background-color: #1B5E20; /* Color de fondo de la opción activa */
  }
  
  .menu-button {
    color: white; /* Color del botón para abrir/cerrar el sidebar */
  }