<div class="card">
    <p-table #dt [value]="accesos" [rows]="10" [scrollable]="true" scrollDirection="Horizontal" [paginator]="true"
        [rowHover]="true" dataKey="id"
        currentPageReportTemplate="Mostrando desde {first} hasta {last} de {totalRecords} datos"
        [showCurrentPageReport]="true">
        <ng-template pTemplate="caption">
            <div class="p-d-flex p-ai-center p-jc-between">
                <h5 class="p-m-0">Buscar</h5>
                <span class="p-input-icon-left">
                    <i class="pi pi-search"></i>
                    <input pInputText type="text" placeholder="Filtrar" />
                </span>
            </div>
        </ng-template>
        <ng-template pTemplate="header">
            <tr>
                <th pSortableColumn="id">ID Acceso
                    <p-sortIcon field="id"></p-sortIcon>
                </th>
                <th pSortableColumn="id_usuario">
                    Id Usuario
                    <p-sortIcon field="id_usuario"></p-sortIcon>
                </th>
                <th pSortableColumn="createdAt">
                    Fecha ultimo ingreso
                    <p-sortIcon field="createdAt"></p-sortIcon>
                </th>
            </tr>
        </ng-template>
        <ng-template pTemplate="body" let-accesos>
            <tr>
                <td>
                    <p-tableCheckbox [value]="accesos"></p-tableCheckbox>
                </td>
                <td>{{ accesos.id }}</td>
                <td>{{ accesos.id_usuario }}</td>
                <td>{{ accesos.createdAt }}</td>
            </tr>
        </ng-template>
    </p-table>
</div>

<p-confirmDialog [style]="{ width: '450px' }"></p-confirmDialog>